
<div class="row d-inline-flex p-2">
    <div *ngFor="let model of mobilephone" class="box">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><h3>{{model.brand}} {{model.model}}</h3></strong>
                <h2 class="mb-0">{{model.color}}</h2>     
                <!-- <button class="btn btn-primary" (click)=btnCompareOnClick(storeModel)>Compare</button> -->
              
            </div>
            <div class="col-auto">
                <img src="https://images.onlinelabels.com/images/clip-art/Exocet/Cartoon%20Android%20Smartphone-262417.png" height="250px">
            </div>
            
        </div>
    </div>
</div>

